@{
    ViewData["Title"] = "Index";
}

@ViewBag.Name
<br />
@ViewBag.NameIdentifier
<br />
@ViewBag.GivenName
<br />
@ViewBag.Surname
<br />
@ViewBag.Email
<br /> role: @ViewBag.Role

<a asp-controller="User" asp-action="SendOTP">otp</a>

